<div class="dashboard-container">
    <div class="dashboard-navigation">
        <div (click)="handleNavigationClick($event, 'home')" [ngStyle]="applySelectedElementStyle('home')">Dashboard</div>
        <div (click)="handleNavigationClick($event, 'settings')" [ngStyle]="applySelectedElementStyle('settings')">Settings</div>
    </div>
    <div class="dashboard-content">
        <div [ngSwitch]="path">
            <app-home *ngSwitchCase="'home'"></app-home>
            <app-settings *ngSwitchCase="'settings'"></app-settings>
            <app-home *ngSwitchDefault="''"></app-home>
        </div>
    </div>
</div>